        @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@400;500&display=swap');
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Heebo', sans-serif;
            font-family: 'Poppins', sans-serif;
            width: 465px;
            margin: 0 auto;
        }
        
        .hamburger {
            display: block;
            position: relative;
            left: 9em;
            top: -2em;
        }
        
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
        
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
        
        .navbar {
            width: 100%;
        }
        
        .nav-branding {
            right: 3em;
        }
        
        .nav-branding {
            color: #333333;
            text-decoration: none;
            font-size: 2rem;
            font-weight: 800;
            font-family: 'Heebo', sans-serif;
            margin: 1em 1em;
        }
        
        .nav-menu {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            left: -100%;
            top: 60px;
            gap: 0;
            background-color: #181719;
            text-align: center;
            transition: 0.3s;
            padding-top: 1em;
        }
        
        .nav-item {
            margin: 10px 0;
        }
        
        .nav-item a {
            color: white;
            text-decoration: none;
        }
        
        .nav-item a:hover {
            font-weight: bolder;
        }
        
        li {
            list-style: none;
        }
        
        .nav-menu.active {
            left: 0;
        }
        
        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: #333333;
        }
        /*end header*/
        /*top content*/
        
        .top__content {
            width: 100%;
            margin-left: 3em;
        }
        
        .top__content span {
            color: #2D9CDB;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 1.3rem;
        }
        
        .content {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 1.5rem;
            color: #333333;
            margin: .5em 0;
        }
        
        .top__content__img img {
            padding: 0 1em;
            width: 100%;
            border-radius: 25px;
        }
        
        .content--p {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 1rem;
            color: #4F4F4F;
            width: 80%;
        }
        
        label {
            display: flex;
        }
        
        label input {
            background: #F2F2F2;
            border-radius: 12px;
            border: none;
            width: 291px;
            height: 47px;
            padding: 1em;
        }
        
        label button {
            width: 71px;
            height: 47px;
            color: #F2F2F2;
            font-size: 14px;
            background-color: #2D9CDB;
            border: none;
            position: relative;
            border-radius: 12px;
            left: -40px;
        }
        
        .p--input {
            margin-top: 2em;
        }
        /*end top content*/
        
        .sec__content {
            width: 100%;
            margin-top: 6em;
        }
        
        .sec--content--h3 {
            margin-left: 2em;
        }
        
        .cards {
            width: 100%;
        }
        
        .card {
            padding: 3em 2em;
            margin-bottom: 3em;
            margin-left: 1em;
        }
        
        .card:hover {
            box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
            border-radius: 24px;
        }
        
        li {
            width: 67px;
            height: 67px;
            border-radius: 16px;
            color: white;
            text-align: center;
            padding-top: 1em;
        }
        
        .blue {
            background-color: #2D9CDB;
        }
        
        .green {
            background: #27AE60;
        }
        
        .red {
            background-color: #EB5757;
        }
        
        .headline--content {
            font-weight: 700;
        }
        
        .card__button {
            border: none;
            background: #E0E0E0;
            border-radius: 12px;
            width: 116px;
            height: 42px;
            color: #828282;
            margin-top: 1em;
        }
        
        .card__button:hover {
            background: #2D9CDB;
            color: white;
        }
        /*end seconnd content*/
        /*third content*/
        
        .third__content {
            width: 100%;
            margin-top: 6em;
            margin-left: 3em;
        }
        
        .card {
            width: 100%;
        }
        
        .img__cards {
            width: 100%;
        }
        
        .img__cards img {
            border-radius: 20px;
            height: 380px;
            object-fit: contain;
        }
        
        .third--content span {
            color: #828282;
            font-size: 12px;
            font-weight: 300;
        }
        
        .third--content {
            color: #333333;
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 3em;
        }
        
        .arrow {
            color: #2D9CDB;
            text-align: left;
            margin-left: 1em;
        }
        
        .arrow {}
        
        .arrow li {
            position: relative;
            color: #2D9CDB;
            padding-right: 2em;
            bottom: -5px;
        }
        
        .arrow:hover {
            font-weight: 700;
        }
        /*end third content*/
        /*fourth content*/
        
        .fourht--span {
            color: #EB5757;
        }
        
        .fourth__content {
            width: 100%;
            margin-top: 6em;
            margin-left: 3em;
        }
        
        .fourth--img--flex {
            display: flex;
            margin-right: 1em;
            margin-top: 2em;
            margin-bottom: 4em;
        }
        
        .fourth--img--flex img {
            border-radius: 24px;
            height: 200px;
            padding: .25em;
        }
        
        .img--padding {
            position: relative;
            bottom: -7em;
            width: 80%;
            object-fit: cover;
        }
        
        .img--size {
            height: 90px;
            width: 170px;
            object-fit: cover;
        }
        
        .profile {
            display: flex;
            margin-top: 2em;
            margin-bottom: 2em;
        }
        
        label {
            padding-left: 2em;
        }
        
        .profile img {
            width: 100px;
            height: 100px;
            border-radius: 12px;
            margin-right: 1em;
        }
        
        .profile span {
            color: #828282;
            font-size: 18px;
            font-weight: 300;
        }
        /* fourth end*/
        /*footer*/
        
        footer {
            background-color: #100E1D;
            width: 100%;
        }
        
        .footer--list {
            color: white;
            padding: 2em 3em 0;
            padding-top: 1em;
            font-size: 1rem;
            font-weight: 400;
            line-height: 36px;
        }
        
        .footer--contact {
            padding: 3em 0 2em 3em;
        }
        
        .white--logo {
            color: white;
            font-size: 2.25rem;
            font-weight: 800;
            text-decoration: none;
        }
        
        .contact--img {
            margin-bottom: 3em;
        }
        
        .creator {
            color: white;
            margin-top: 7em;
            font-size: 12px;
            text-align: center;
            padding-bottom: 1em;
        }
        
        @media (min-width: 470px) {
            body {
                min-width: 80%;
            }
            header {
                width: 100%;
                padding: 1em 2em;
            }
            .navbar {
                display: flex;
                text-align: right;
                justify-content: flex-end;
            }
            .nav-menu {
                position: relative;
                display: flex;
                flex-direction: row;
                gap: 1em;
                left: 0;
                background-color: white;
                justify-content: flex-end;
                top: -1em;
            }
            .nav-item a {
                max-width: max-content;
                text-decoration: none;
                color: #333333;
                font-size: 1rem;
                margin-right: 2em;
                font-weight: 500;
                font-family: 'Poppins', sans-serif;
            }
            .nav-item a:hover {
                font-weight: bolder;
            }
            .nav-branding {
                margin-right: auto;
            }
            .nav-branding {
                text-decoration: none;
                color: #333333;
                font-size: 2rem;
                font-family: 'Heebo', sans-serif;
                font-weight: 800;
            }
            .hamburger {
                display: none;
            }
            .bar {
                display: none;
            }
            .cards {
                display: flex;
            }
            .third__content--flex {
                display: flex;
                gap: 2em;
                justify-content: center;
            }
            .third__content {
                width: 100%;
            }
            .top {
                transform: translate(0, -80px);
            }
            .arrow {
                text-align: right;
            }
            .fourth__content {
                display: flex;
                width: 100%;
                justify-content: center;
            }
            .profile--content,
            .profile {
                margin-left: 3em;
                margin-bottom: 3em;
            }
            .footer--list {
                padding-left: 2em;
            }
            .footer--list--flex {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
            label {
                transform: translate(0, 170px);
            }
            footer {
                width: 100%;
            }
        }